.measurement-table-rows {
	height: 50px;
	border-bottom: 0px solid #DDD !important;
}

.internalTable {
	color: inherit;
	padding: 0px !important;
	margin: 0px !important;
	
}

.internalTable td{
	background-color: inherit;
    border: 0px solid #E55 !important;
    padding: 0px !important;
}


.internalTable tr{
	
    background-color: inherit;
    border: 0px solid #E55 ;
    padding: 0px ;
    
}

.internalTable div{
	color: inherit ;
	background-color: inherit;
	border: 0px solid #E55 ;
	padding: 0px ;
	margin: 0px ;
	
}



.expansionTable  {
	color: inherit;
	padding: 0px !important;
	margin: 0px !important;
}

.expansionTable tr{
	
    background-color: inherit;
    padding: 0px ;
    
}

.expansionTable div{
	color: inherit ;
	background-color: inherit;
	border: 0px solid #E55 ;
	padding: 0px !important;
	margin: 0px !important;
	
}

.expansionTable > td{
	
    background-color: inherit;
	border: 0px solid #E55 !important;
    padding: 0px !important;
    
}



